@using Microsoft.AspNetCore.Components
@using Service.Backoffice.Models
@using Service.Backoffice.Services
@using Service.Core.Client.Extensions
@using Service.MarketProduct.Domain.Models
@using Service.UserTokenAccount.Domain.Models
@using Service.UserTokenAccount.Grpc.Models

@inject IUserTokenAccountDataService _userTokenAccountDataService
@inject IUserResolver _userResolver
@inject ISnackbar _snackbar

@if (_data is {ErrorText: {}})
{
    <div class="alert alert-danger" role="alert">
        @_data.ErrorText
    </div>
}

<div class="container">
    <button class="btn btn-primary" style="white-space: nowrap;" type="button" @onclick="Filter" disabled="@IsRefreshing">
        <span class="spinner-border spinner-border-sm" style="display: @(IsRefreshing ? "inline-block" : "none");" role="status" aria-hidden="true"></span>
        Refresh
    </button>
</div>

<MudGrid Justify="Justify.FlexStart">

    @if (_data != null && _data.ErrorText.IsNullOrEmpty())
    {
    <MudItem xs="12">
        <MudTable ServerData="@(new Func<TableState, Task<TableData<UserTokenAccountDataOperationViewModel>>>(ServerReload))"
                  Dense="true"
                  Hover="true"
                  FixedHeader="true"
                  @ref="_table">
            <ToolBarContent>
                <MudAutocomplete Label="User" Placeholder="User" Immediate="false" Clearable="true" MinCharacters="3" ResetValueOnEmptyText="true"
                                 @ref="_filterUserList"
                                 T="ParamValue"
                                 Value="@FilterUser"
                                 ValueChanged="@(pv => FilterUser = pv)"
                                 SearchFunc="@GetUsers"
                                 ToStringFunc="@(pv => pv?.Value)"/>
                <MudDatePicker Placeholder="DateFrom" Label="DateFrom" @bind-Date="@DateFromFilter" Class="mr-5"/>
                <MudDatePicker Placeholder="DateTo" Label="DateTo" @bind-Date="@DateToFilter" Class="mr-5"/>
                <MudSelect Label="Movement" Placeholder="Movement" T="int?" AnchorOrigin="Origin.BottomCenter" Clearable="true" @bind-Value="@MovementFilter" Class="mr-5">
                    @foreach (TokenOperationMovement movement in Enum.GetValues<TokenOperationMovement>())
                    {
                        <MudSelectItem Value="@((int?) Convert.ToInt32(movement))">@Enum.GetName(movement)</MudSelectItem>
                    }
                </MudSelect>
                <MudSelect Label="Source" Placeholder="Source" T="int?" AnchorOrigin="Origin.BottomCenter" Clearable="true" @bind-Value="@SourceFilter" Class="mr-5">
                    @foreach (TokenOperationSource source in Enum.GetValues<TokenOperationSource>())
                    {
                        <MudSelectItem Value="@((int?) Convert.ToInt32(source))">@Enum.GetName(source)</MudSelectItem>
                    }
                </MudSelect>
                <MudSelect Label="Product" Placeholder="Product" T="int?" AnchorOrigin="Origin.BottomCenter" Clearable="true" @bind-Value="@ProductTypeFilter" Class="mr-5">
                    @foreach (MarketProductType productType in Enum.GetValues<MarketProductType>())
                    {
                        <MudSelectItem Value="@((int?) Convert.ToInt32(productType))">@Enum.GetName(productType)</MudSelectItem>
                    }
                </MudSelect>
                <MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined">
                    <MudIconButton OnClick="@Filter">Filter</MudIconButton>
                    <MudIconButton OnClick="@ClearFilters">Clear</MudIconButton>
                </MudButtonGroup>
            </ToolBarContent>
            <HeaderContent>
                <MudTh>
                    <MudTableSortLabel SortLabel="@nameof(OperationGrpcModel.UserId)" T="UserTokenAccountDataOperationViewModel">User</MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortLabel="@nameof(OperationGrpcModel.Date)" T="UserTokenAccountDataOperationViewModel">Date</MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortLabel="@nameof(OperationGrpcModel.Movement)" T="UserTokenAccountDataOperationViewModel">Movement</MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortLabel="@nameof(OperationGrpcModel.Source)" T="UserTokenAccountDataOperationViewModel">Source</MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortLabel="@nameof(OperationGrpcModel.ProductType)" T="UserTokenAccountDataOperationViewModel">Product</MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortLabel="@nameof(OperationGrpcModel.Value)" T="UserTokenAccountDataOperationViewModel">Value</MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTh >Info</MudTh>
                </MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="User">@context.UserName</MudTd>
                <MudTd DataLabel="Date">@context.Date</MudTd>
                <MudTd DataLabel="Movement">@context.Movement</MudTd>
                <MudTd DataLabel="Source">@context.Source</MudTd>
                <MudTd DataLabel="Product">@context.ProductType</MudTd>
                <MudTd DataLabel="Value" Style="text-align: right" Class="@(context.IsIncome ? "account-income" : "account-outcome")">@context.Value</MudTd>
                <MudTd DataLabel="Info">
                    @if (!context.Info.IsNullOrWhiteSpace())
                    {
                        <MudButton Variant="Variant.Filled" Size="Size.Small" Color="Color.Info" OnClick="@(() => ShowJson(context))" StartIcon="@(context.ShowJson ? Icons.Filled.SearchOff : Icons.Filled.Search)">json</MudButton>
                    }
                </MudTd>
            </RowTemplate>
            <ChildRowContent>
                @if (context.ShowJson)
                {
                    <MudTr>
                        <td colspan="7" class="json-info">
                            <pre>@context.Info</pre>
                        </td>
                    </MudTr>
                }
            </ChildRowContent>
            <NoRecordsContent>
                <MudText>No matching records found</MudText>
            </NoRecordsContent>
            <LoadingContent>
                <MudText>Loading...</MudText>
            </LoadingContent>
            <PagerContent>
                <MudTablePager/>
            </PagerContent>
        </MudTable>
    </MudItem>
    }

    <MudItem xs="4" Class="@(UserIsSelected ? "visible" : "invisible")">
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">User tokens</MudText>
                    <MudText Typo="Typo.subtitle1" Color="Color.Primary">@(_data.UserName) has @(_data.UserTotal) tokens</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudTextField @bind-Value="AddAmountValue" Label="Add tokens" Format="F1"/>
            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="@AddAmount">Submit</MudButton>
            </MudCardActions>
        </MudCard>
    </MudItem>
</MudGrid>

@code {
    private UserTokenAccountDataViewModel _data;
    private MudTable<UserTokenAccountDataOperationViewModel> _table;
    private int _totalItems;
    private bool IsRefreshing { get; set; } = false;

    private DateTime? DateFromFilter { get; set; }
    private DateTime? DateToFilter { get; set; }
    private int? MovementFilter { get; set; }
    private int? SourceFilter { get; set; }
    private int? ProductTypeFilter { get; set; }

    private ParamValue FilterUser { get; set; }
    private MudAutocomplete<ParamValue> _filterUserList;
    private bool UserIsSelected { get; set; }

    private double AddAmountValue { get; set; }
    private MudAutocomplete<ParamValue> _addAmountUserList;
    private ParamValue AddAmountUser { get; set; }

    private TableGroupDefinition<UserTokenAccountDataOperationViewModel> _groupDefinition = null;

    private async Task Filter()
    {
        _table.CurrentPage = 0;
        await FetchData();
        await _table.ReloadServerData();
    }

    private async Task FetchData(TableState state = null)
    {
        UserIsSelected = false;

        IsRefreshing = true;
        StateHasChanged();

        string userId = FilterUser?.Param;
        _data = await _userTokenAccountDataService.GetOperations(userId, DateFromFilter, DateToFilter, MovementFilter, SourceFilter, ProductTypeFilter, state ?? new TableState());
        _totalItems = _data.TotalItems;

        IsRefreshing = false;
        StateHasChanged();

        UserIsSelected = _data.UserId != null;
    }

    private async Task ClearFilters()
    {
        FilterUser = null;
        DateFromFilter = null;
        DateToFilter = null;
        MovementFilter = null;
        SourceFilter = null;
        ProductTypeFilter = null;

        await Filter();
    }

    private async Task<TableData<UserTokenAccountDataOperationViewModel>> ServerReload(TableState state)
    {
        await FetchData(state);

        return new TableData<UserTokenAccountDataOperationViewModel> {TotalItems = _totalItems, Items = _data.Operations};
    }

    protected override async Task OnInitializedAsync()
    {
        _data = new UserTokenAccountDataViewModel();
        _table = new MudTable<UserTokenAccountDataOperationViewModel>();

        await _table.ReloadServerData();
    }

    private void ShowJson(UserTokenAccountDataOperationViewModel item) => item.ShowJson = !item.ShowJson;

    private async Task<IEnumerable<ParamValue>> GetUsers(string text) => text.IsNullOrWhiteSpace()
        ? Array.Empty<ParamValue>()
        : await _userResolver.GetUsers(text);

    private async void AddAmount()
    {
        if (AddAmountValue == 0)
        {
            _snackbar.Add("Error! Amount must be greater then zero.", Severity.Error);
            return;
        }

        if (!UserIsSelected)
        {
            _snackbar.Add("Error! Please select user.", Severity.Error);
            return;
        }

        (bool added, decimal resultAmount) response = await _userTokenAccountDataService.AddAmount(_data.UserId, AddAmountValue);
        if (response.added)
        {
            AddAmountValue = 0;
            _snackbar.Add($"Successful! Current user {_data.UserName} token amount: {response.resultAmount}", Severity.Success);
            await Filter();
            StateHasChanged();
       }
        else
            _snackbar.Add($"Error! Can't add amount {AddAmountUser} for user {_data.UserName}.", Severity.Error);
    }

}