@using Microsoft.AspNetCore.Components
@using Service.Backoffice.Blazor.Models
@using Service.Backoffice.Blazor.Services
@using Service.Core.Client.Extensions

@inject IUserDataService _userDataService

@if (_data is {ErrorText: {}})
{
    <div class="alert alert-danger" role="alert">
        @_data.ErrorText
    </div>
}

<div class="container min-width">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">User email</span>
        </div>
        <input type="text" class="form-control" id="emailValue" aria-describedby="basic-addon3" @bind="EmailFilter" @onkeydown="@EmailEnter">
        <div class="input-group-append">
            <button class="btn btn-primary" style="white-space: nowrap;" type="button" @onclick="Filter" disabled="@IsRefreshing">
                <span class="spinner-border spinner-border-sm" style="display: @(IsRefreshing ? "inline-block" : "none");" role="status" aria-hidden="true"></span>
                Search
            </button>
        </div>
    </div>
</div>

@if (_data != null && _data.ErrorText.IsNullOrEmpty())
{
    <div class="container small-width">
        <div class="card">
            <div class="card-header">
                User
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead class="thead-dark">
                    <tr>
                        <th class="progress-th">Parameter</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (ParamValue paramValue in _data.UserInfoItems)
                    {
                        <tr>
                            <td>@paramValue.Param</td>
                            <td>@paramValue.Value</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="container small-width">
        <div class="card">
            <div class="card-header">
                Account
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead class="thead-dark">
                    <tr>
                        <th class="progress-th">Parameter</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (ParamValue paramValue in _data.ProfileItems)
                    {
                        <tr>
                            <td>@paramValue.Param</td>
                            <td>@paramValue.Value</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

@code {
    private UserDataViewModel _data;
    private string EmailFilter { get; set; }
    private bool IsRefreshing { get; set; } = false;

    private async Task Filter()
    {
        IsRefreshing = true;

        _data = await _userDataService.GetUserData(EmailFilter);

        IsRefreshing = false;
    }

    public async Task EmailEnter(KeyboardEventArgs e)
    {
        if (e.Code is "Enter" or "NumpadEnter")
            await Filter();
    }

}